* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
nav {
    background-color: yellow;
    color: white;
    font-size: 1em;
    padding-left: 1em;
}
.head {
    display: inline-block;
    width: 100%;
    font-size: 1.75em;
}
nav li {
    display: inline-block;
}
.links {
    background-color: aqua;
    height: 1em;
    margin: auto;
}
header {
    margin: auto;
    text-align: center;
    width: auto;
}
body {
   font-family: "Times New Roman";
    width: 100%;
    text-align: center;
}
#img {
    height: 100px;
    width: 100px;
    display: inline;
    vertical-align: middle;
}
.pas-puces {
    list-style-type: none;
}
strong em {
    font-size: 2em;
    color: rebeccapurple;
    text-decoration: underline;
}
h1 {
    background-color: yellowgreen;
    font-size: 3em;
    color: magenta;
    text-decoration: underline;
}
.civil {
    font-size: 1.5em;
    color: slateblue;
}
strong {
    color: blue;
}
.other {
    color: black;
}
:any-link {
    font-weight: bold;
}
.nom, .prenom {
    font-weight: bold;
    font-size: 1.5em;
    color: red;
    width: 48%;
    margin: auto;
    display: inline-block;
}
.email, .tel {
    font-weight: bold;
    color: green;
    font-size: 1em;
    height: 3em;
    margin-top: 1em; 
    width: 90%;
    display: inline-block;
}
.motif {
    font-weight: bold;
    font-size: 1em;
    color: royalblue;
    height: 3em;
    margin-top: 1em; 
    width: 100%;
}
.message {
    font-weight: bold;
    font-size: 1.5em;
    color: lightsalmon;
    height: auto;
    margin-top: 1em;
    width: auto;
}
.submit {
    margin-top: auto;
}
.asterique {
    color : red;
}
.obligatoire {
     color : red;
}

